@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Noto Serif Bengali';
}

.news-content a {
  text-decoration: underline;
  color: #0C2340;
  font-weight: 600;
}

.news-content a:hover {
  color: #929292;
}

.markdown-content {
  @apply text-gray-800 w-full break-words;
}

.markdown-content h1 {
  @apply text-3xl font-bold mb-3;
}

.markdown-content h2 {
  @apply text-2xl font-bold mb-3;
}

.markdown-content h3 {
  @apply text-xl font-semibold mb-3;
}

.markdown-content h4 {
  @apply text-lg font-semibold mb-3;
}

.markdown-content h5 {
  @apply text-base font-medium mb-3;
}

.markdown-content h6 {
  @apply text-sm font-medium mb-3;
}

.markdown-content p {
  @apply text-xl mb-4 indent-8;
}

.markdown-content a {
  @apply text-white bg-blue-500 py-1 px-2 rounded-lg no-underline transition-all duration-300;
}

.markdown-content a:hover {
  @apply bg-blue-700 transform scale-105;
}

.markdown-content ul,
.markdown-content ol {
  @apply pl-5 border-1 p-2;
}

.markdown-content li {
  @apply mb-2;
}

.markdown-content pre {
  @apply bg-gray-100 p-4 rounded-md font-mono whitespace-pre-wrap break-words mb-4;
}

.markdown-content code {
  @apply font-mono bg-gray-200 py-1 px-2 rounded;
}

.markdown-content blockquote {
  @apply bg-sky-50 p-4 text-black mt-4;
}

.markdown-content img {
  @apply max-w-[80%] max-h-[600px] mx-auto my-4;
}

.markdown-content hr {
  @apply border-0 border-t border-gray-300 my-4;
}

.markdown-content strong {
  @apply font-bold;
}

.markdown-content em {
  @apply italic;
}

.markdown-content table {
  @apply w-full border-collapse my-4;
}

.markdown-content th,
.markdown-content td {
  @apply p-2 border border-gray-300;
}

.markdown-content th {
  @apply bg-gray-100 text-left;
}

.markdown-content input[type="checkbox"] {
  @apply mr-2;
}

.markdown-content label {
  @apply inline-block ml-2;
}

.markdown-content > * {
  @apply mb-4;
}
